.home {
  animation: fadeup 1s linear forwards;
  transform: translateY(50px);
  opacity: 0;
  transition: 1s;
}

.card {
  animation: fade 2s linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
  animation-delay: 1s;
  transition: 1s;
}

.card2 {
  animation: fade2 3s linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
  animation-delay: 2.5s;
  transition: 2s;
}

.card3 {
  animation: fade3 4s linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
  animation-delay: 3.5s;
  transition: 3s;
}

.card4 {
  animation: fade4 5s linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
  animation-delay: 4.5s;
  transition: 4s;
}

.card5 {
  animation: fade5 6s linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
  animation-delay: 5.5s;
  /* transition: 5s; */
}

.card6 {
  animation: fade6 7s linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
  animation-delay: 6.5s;
  /* transition: 6s; */
}

.card7 {
  animation: fade7 8s linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
  animation-delay: 7.5s;
}

.card8 {
  animation: fade3 9s linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
  animation-delay: 8.5s;
}

@keyframes fadeup {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade2 {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade3 {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade4 {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade5 {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade6 {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade7 {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade8 {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
